* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
header {
  background: #2d2645;
  color: white;
  padding-bottom: 30px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.header-text h1 {
  font-size: 36px;
}
.header-text h2 {
  font-size: 18px;
  font-weight: normal;
}
.header-text p {
  font-size: 14px;
}
nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}
header img {
  width: 100%;
  border-radius: 6px;
  margin-top: 20px;
}
section {
  padding: 50px 0;
}
.bila {
  background: #eeeeee;
}
.tmava {
  background: #2d2645;
  color: white;
}
.center {
  text-align: center;
}
.text-center {
  max-width: 800px;
  margin: auto;
}


.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}


.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}


.grid-3 img {
  width: 100%;
  border-radius: 6px;
  display: block;
}


ul, ol {
  margin-top: 15px;
  margin-left: 20px;
}

li {
  margin-bottom: 5px;
}

h1 {
  margin-bottom: 15px;
}

/*        MOBIL STYLE       */


@media (max-width: 768px) {
  .header-top {
    flex-direction: column;
    text-align: center;
  }
header img {
    display: none;
  }
  .header-text h1 {
    font-size: 42px;
  }

  .header-text h2 {
    font-size: 20px;
  }

  nav {
    width: 100%;
    margin-top: 25px;
  }

  nav a {
    display: block;
    background: #e6e6e6;
    color: #2d2645;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
  }

  nav a:hover {
    background: #d5d5d5;
    text-decoration: none;
  }
  .grid-2 {
    grid-template-columns: 1fr;

  }

  .grid-3 {
    grid-template-columns: 1fr;
  }
  section {
    padding: 40px 20px;
  }

  .container {
    width: 95%;
  }
  .text-center {
    text-align: center;
  }
  .grid-3 img {
    width: 100%;
  }

}

/*        TABLET      */


@media (min-width: 769px) and (max-width: 1024px) {
  .header-top {
    flex-direction: column;
    text-align: center;
  }

  nav {
    margin-top: 20px;
  }

  nav a {
    display: inline-block;
    background: #e6e6e6;
    color: #2d2645;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 6px;
  }

  nav a:hover {
    background: #d5d5d5;
    text-decoration: none;
  }


  .grid-2 {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }


  section {
    padding: 40px 0;
  }

  .grid-3 img {
    border-radius: 8px;
  }

}